<%= form_tag({:action => "index"}, {:id => "vbform"}) do %>	
<table class="stdtable">
	<thead>
		<tr>
			<th width="5%">ID</th>
			<th width="30%">关键词</th>
			<th width="30%">概要</th>
			<th width="20%">received_at</th>
			<th width="15%">管理</th>
		</tr>
	</thead>
	<%
		if @mails.length>0
	%>
	<tbody>
	<%
			@mails.each do |mail|
	%>
		<tr>
			<td><%= check_box_tag 'mail_ids[]', mail.id, false, :class => 'checker' %></td>
			<td><%= mail.alert.title %></td>
			<td><%= mail.summary %></td>
			<td><%= mail.received_at.strftime("%Y-%m-%d") %></td>
			<td>
				<a href="/admin/mails/<%= mail.id %>">查看</a>|<%= link_to "删除", {:action => "destroy", :id => mail}, :confirm => "确定删除？", :method => "delete" %>
			</td>
		</tr>
	<%
			end
	%>
	</tbody>
	<%
		else
	%>
	<tbody>
		<tr>
			<td colspan="5" style="text-align:left;">&nbsp;还没有内容。</td>
		</tr>
	</tbody>
	<%
		end
	%>
</table>
<div class="list-opts clearfix">
	<div class="l">
		<input type="button" name="selectAll" id="selectAll" value="全选">
		<input type="button" name="selectOther" id="selectOther" value="反选">
		<input type="submit" name="delete_all" id="delete_all" value="全部删除">
	</div>
	<%= will_paginate @mails %>
</div>
<% end %>