<%= form_tag({:action => "index"}, {:id => "vbform"}) do %>	
<div class="nav">
	<div class="list-opts clearfix">
		<%= will_paginate @alerts %>
		<div class="nav-links">
			<a href="/admin/alerts">关键词列表</a>
			<a href="/admin/alerts/new">添加关键词</a>
			<input type="button" name="selectAll" id="selectAll" value="全选">
			<input type="button" name="selectOther" id="selectOther" value="反选">
			<input type="submit" name="delete_all" id="delete_all" value="全部删除">
		</div>
	</div>
</div>
<div class="main">
<table class="stdtable">
	<thead>
		<tr>
			<th width="5%">ID</th>
			<th width="80%">title</th>
			<th width="15%">管理</th>
		</tr>
	</thead>
	<%
		if @alerts.length>0
	%>
	<tbody>
	<%
			@alerts.each do |alert|
	%>
		<tr>
			<td><%= check_box_tag 'alert_ids[]', alert.id, false, :class => 'checker' %></td>
			<td><%= alert.title %></td>
			<td>
				<a href="/admin/alerts/<%= alert.id %>">查看</a>|<%= link_to "删除", {:action => "destroy", :id => alert}, :confirm => "确定删除？", :method => "delete" %>
			</td>
		</tr>
	<%
			end
	%>
	</tbody>
	<%
		else
	%>
	<tbody>
		<tr>
			<td colspan="3" style="text-align:left;">&nbsp;还没有内容。</td>
		</tr>
	</tbody>
	<%
		end
	%>
</table>
</div>
<% end %>
<script>
$('.checker').click(function(e){
	e.stopPropagation();
});
$('.stdtable td').click(function(e){
	if(e.target.tagName != 'A'){
		e.preventDefault();
		e.stopPropagation();
		var _c = $(this).parent().find('.checker');
		_c.attr('checked', !!!$(_c).attr('checked'));
	}
});
$('#selectAll').click(function(e){
	e.preventDefault();
	e.stopPropagation();
	$('.checker').attr('checked', true);
});
$('#selectOther').click(function(e){
	e.preventDefault();
	e.stopPropagation();
	$('.checker').each(function(index, elem){
		$(elem).attr('checked', !$(elem).attr('checked'));
	});
});
$('#delete_all').click(function(e){
	e.stopPropagation();
	if($('input:checked').length == 0){
		alert("请选择批量处理的ID!");
		return false;
	}
});
</script>